*.swp
bin/
vendor/
profile.cov
Secret-*
/deploy-dev/
.idea
.DS_Store
.cr-release-packages
.cr-index
/devops.sh
/deploy/k8s_before_v1_18.yaml.orig
.vscode
cov1.out
cov2.out
/juicefs/
/juicefs-ee
/node_modules
.yalc/
yalc.lock
.ropeproject
dist/
