dist: xenial
language: go

go:
  - "1.15"

branches:
  only:
    - /.*/


script:
  - make
  - ./hack/verify-all
  - make test
  - make test-sanity
  - go test -v -cover -covermode=count -coverprofile=coverage.txt ./pkg/...

after_failure:
  - sudo tail -n 100 /var/log/syslog
after_success:
  - bash <(curl -s https://codecov.io/bash)