apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: default
configurations:
- kustomizeconfig.yaml
resources:
- resources.yaml
secretGenerator:
- name: juicefs
  envs:
  - Secret-juicefs.env
  type: Opaque
vars:
- name: SECRET_NAME
  objref:
    apiVersion: v1
    kind: Secret
    name: juicefs
- name: SECRET_NAMESPACE
  objref:
    apiVersion: v1
    kind: Secret
    name: juicefs
  fieldRef:
    fieldPath: metadata.namespace
