name: Github Actions

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.17.2
        uses: actions/setup-go@v2
        with:
          go-version: "1.17.2"
      - name: Check out code into the Go module directory
        uses: actions/checkout@v2
      - name: Build
        run: make
      - name: Verify
        run: make verify
      - name: Test
        run: make test
      - name: Test sanity
        run: make test-sanity
      - name: Coverage File
        run: |
          pwd
          cat cov1.out >> coverage.txt
          cat cov2.out >> coverage.txt
      - name: Code Coverage
        uses: codecov/codecov-action@v1
        with:
          files: ./coverage.txt


  k8s-ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Prepare microk8s environment
        run: ${GITHUB_WORKSPACE}/.github/scripts/k8s-deps.sh
      - name: Build image
        env:
          DEV_K8S: microk8s
        run: |
          cd ${GITHUB_WORKSPACE}
          make image-dev
          make push-dev
      - name: Deploy JuiceFS CSI for pod mode
        run: |
          cd ${GITHUB_WORKSPACE}
          dev_tag=dev-$(git describe --always)
          echo "Dev tag is: " $dev_tag
          export dev_tag=$dev_tag
          .github/scripts/deploy-csi-in-k8s.sh pod
      - name: Set ce secret env
        run: |
          echo "JUICEFS_STORAGE=s3" >> $GITHUB_ENV
          echo "JUICEFS_BUCKET=http://juicefs-bucket.minio.default.svc.cluster.local:9000" >> $GITHUB_ENV
          echo "JUICEFS_ACCESS_KEY=minioadmin" >> $GITHUB_ENV
          echo "JUICEFS_SECRET_KEY=minioadmin" >> $GITHUB_ENV
          echo "JUICEFS_NAME=ce-secret" >> $GITHUB_ENV
          echo "JUICEFS_META_URL=redis://redis.default.svc.cluster.local:6379/1" >> $GITHUB_ENV
          echo "JUICEFS_MODE=ce" >> $GITHUB_ENV
          echo "MOUNT_MODE=pod" >> $GITHUB_ENV
      - name: Run ce test for pod mode
        run: |
          cd ${GITHUB_WORKSPACE}/.github/scripts/
          python3 ci-pod.py
      - name: Set ee secret env
        env:
          JUICEFS_TOKEN: ${{ secrets.JUICEFS_CI_VOLUME_TOKEN }}
        run: |
          echo "JUICEFS_STORAGE=s3" >> $GITHUB_ENV
          echo "JUICEFS_BUCKET=http://juicefs-bucket.minio.default.svc.cluster.local:9000" >> $GITHUB_ENV
          echo "JUICEFS_ACCESS_KEY=minioadmin" >> $GITHUB_ENV
          echo "JUICEFS_SECRET_KEY=minioadmin" >> $GITHUB_ENV
          echo "JUICEFS_NAME=csi-ci" >> $GITHUB_ENV
          echo "JUICEFS_TOKEN=$JUICEFS_TOKEN" >> $GITHUB_ENV
          echo "JUICEFS_META_URL=''" >> $GITHUB_ENV
          echo "JUICEFS_MODE=ee" >> $GITHUB_ENV
          echo "MOUNT_MODE=pod" >> $GITHUB_ENV
      - name: Run ee test for pod
        run: |
          cd ${GITHUB_WORKSPACE}/.github/scripts/
          python3 ci-pod.py
      - name: Deploy JuiceFS CSI for process mode
        run: |
          cd ${GITHUB_WORKSPACE}
          dev_tag=dev-$(git describe --always)
          echo "Dev tag is: " $dev_tag
          export dev_tag=$dev_tag
          .github/scripts/deploy-csi-in-k8s.sh process
      - name: Set ce secret env
        run: |
          echo "JUICEFS_STORAGE=s3" >> $GITHUB_ENV
          echo "JUICEFS_BUCKET=http://juicefs-bucket.minio.default.svc.cluster.local:9000" >> $GITHUB_ENV
          echo "JUICEFS_ACCESS_KEY=minioadmin" >> $GITHUB_ENV
          echo "JUICEFS_SECRET_KEY=minioadmin" >> $GITHUB_ENV
          echo "JUICEFS_NAME=ce-secret" >> $GITHUB_ENV
          echo "JUICEFS_META_URL=redis://redis.default.svc.cluster.local:6379/1" >> $GITHUB_ENV
          echo "JUICEFS_MODE=ce" >> $GITHUB_ENV
          echo "MOUNT_MODE=process" >> $GITHUB_ENV
      - name: Run ce test for process
        run: |
          cd ${GITHUB_WORKSPACE}/.github/scripts/
          python3 ci-process.py
      - name: Set ee secret env
        env:
          JUICEFS_TOKEN: ${{ secrets.JUICEFS_CI_VOLUME_TOKEN }}
        run: |
          echo "JUICEFS_STORAGE=s3" >> $GITHUB_ENV
          echo "JUICEFS_BUCKET=http://juicefs-bucket.minio.default.svc.cluster.local:9000" >> $GITHUB_ENV
          echo "JUICEFS_ACCESS_KEY=minioadmin" >> $GITHUB_ENV
          echo "JUICEFS_SECRET_KEY=minioadmin" >> $GITHUB_ENV
          echo "JUICEFS_NAME=csi-ci" >> $GITHUB_ENV
          echo "JUICEFS_TOKEN=$JUICEFS_TOKEN" >> $GITHUB_ENV
          echo "JUICEFS_META_URL=''" >> $GITHUB_ENV
          echo "JUICEFS_MODE=ee" >> $GITHUB_ENV
          echo "MOUNT_MODE=process" >> $GITHUB_ENV
      - name: Run ee test for process
        run: |
          cd ${GITHUB_WORKSPACE}/.github/scripts/
          python3 ci-process.py
