name: Github Actions

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.17.2
        uses: actions/setup-go@v2
        with:
          go-version: "1.17.2"
      - name: Check out code into the Go module directory
        uses: actions/checkout@v2
      - name: Build
        run: make
      - name: Verify
        run: make verify
      - name: Test
        run: make test
      - name: Coverage File
        run: |
          pwd
          cat cov1.out >> coverage.txt
      - name: Code Coverage
        uses: codecov/codecov-action@v1
        with:
          files: ./coverage.txt


  k8s-ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Prepare microk8s environment
        run: ${GITHUB_WORKSPACE}/.github/scripts/k8s-deps.sh
      - name: Build image
        env:
          DEV_K8S: microk8s
        run: |
          cd ${GITHUB_WORKSPACE}
          make image-dev
          make push-dev
      - name: pod mode - Deploy JuiceFS CSI
        run: |
          cd ${GITHUB_WORKSPACE}
          dev_tag=dev-$(git describe --always)
          echo "Dev tag is: " $dev_tag
          export dev_tag=$dev_tag
          .github/scripts/deploy-csi-in-k8s.sh pod
      - name: pod mode - Run ce test
        env:
          JUICEFS_STORAGE: s3
          JUICEFS_BUCKET: "http://juicefs-bucket.minio.default.svc.cluster.local:9000"
          JUICEFS_ACCESS_KEY: "minioadmin"
          JUICEFS_SECRET_KEY: "minioadmin"
          JUICEFS_NAME: "ce-secret"
          JUICEFS_META_URL: "redis://redis.default.svc.cluster.local:6379/1"
          JUICEFS_MODE: ce
          MOUNT_MODE: pod
        run: |
          cd ${GITHUB_WORKSPACE}/.github/scripts/
          python3 ci-pod.py
      - name: pod mode - Run ee test
        env:
          JUICEFS_TOKEN: ${{ secrets.JUICEFS_CI_VOLUME_TOKEN }}
          JUICEFS_STORAGE: s3
          JUICEFS_BUCKET: "http://juicefs-bucket.minio.default.svc.cluster.local:9000"
          JUICEFS_ACCESS_KEY: "minioadmin"
          JUICEFS_SECRET_KEY: "minioadmin"
          JUICEFS_NAME: "csi-ci"
          JUICEFS_META_URL: ""
          JUICEFS_MODE: "ee"
          MOUNT_MODE: "pod"
        run: |
          cd ${GITHUB_WORKSPACE}/.github/scripts/
          python3 ci-pod.py
      - name: mount shared - Deploy JuiceFS CSI
        run: |
          cd ${GITHUB_WORKSPACE}
          dev_tag=dev-$(git describe --always)
          echo "Dev tag is: " $dev_tag
          export dev_tag=$dev_tag
          .github/scripts/deploy-csi-in-k8s.sh pod-mount-share
      - name: mount shared - Run ce test
        env:
          JUICEFS_STORAGE: "s3"
          JUICEFS_BUCKET: "http://juicefs-bucket.minio.default.svc.cluster.local:9000"
          JUICEFS_ACCESS_KEY: "minioadmin"
          JUICEFS_SECRET_KEY: "minioadmin"
          JUICEFS_NAME: "ce-secret"
          JUICEFS_META_URL: "redis://redis.default.svc.cluster.local:6379/1"
          JUICEFS_MODE: "ce"
          MOUNT_MODE: "pod"
        run: |
          cd ${GITHUB_WORKSPACE}/.github/scripts/
          python3 ci-pod-share-mount.py
      - name: mount shared - Run ee test
        env:
          JUICEFS_TOKEN: ${{ secrets.JUICEFS_CI_VOLUME_TOKEN }}
          JUICEFS_STORAGE: "s3"
          JUICEFS_BUCKET: "http://juicefs-bucket.minio.default.svc.cluster.local:9000"
          JUICEFS_ACCESS_KEY: "minioadmin"
          JUICEFS_SECRET_KEY: "minioadmin"
          JUICEFS_NAME: "csi-ci"
          JUICEFS_META_URL: ""
          JUICEFS_MODE: "ee"
          MOUNT_MODE: "pod"
        run: |
          cd ${GITHUB_WORKSPACE}/.github/scripts/
          python3 ci-pod-share-mount.py
      - name: provisioner - Deploy JuiceFS CSI
        run: |
          cd ${GITHUB_WORKSPACE}
          dev_tag=dev-$(git describe --always)
          echo "Dev tag is: " $dev_tag
          export dev_tag=$dev_tag
          .github/scripts/deploy-csi-in-k8s.sh pod-provisioner
      - name: provisioner - Run ce test
        env:
          JUICEFS_STORAGE: "s3"
          JUICEFS_BUCKET: "http://juicefs-bucket.minio.default.svc.cluster.local:9000"
          JUICEFS_ACCESS_KEY: "minioadmin"
          JUICEFS_SECRET_KEY: "minioadmin"
          JUICEFS_NAME: "ce-secret"
          JUICEFS_META_URL: "redis://redis.default.svc.cluster.local:6379/1"
          JUICEFS_MODE: "ce"
          MOUNT_MODE: "pod"
        run: |
          cd ${GITHUB_WORKSPACE}/.github/scripts/
          python3 ci-pod-provisioner.py
      - name: provisioner - Run ee test
        env:
          JUICEFS_TOKEN: ${{ secrets.JUICEFS_CI_VOLUME_TOKEN }}
          JUICEFS_STORAGE: "s3"
          JUICEFS_BUCKET: "http://juicefs-bucket.minio.default.svc.cluster.local:9000"
          JUICEFS_ACCESS_KEY: "minioadmin"
          JUICEFS_SECRET_KEY: "minioadmin"
          JUICEFS_NAME: "csi-ci"
          JUICEFS_META_URL: ""
          JUICEFS_MODE: "ee"
          MOUNT_MODE: "pod"
        run: |
          cd ${GITHUB_WORKSPACE}/.github/scripts/
          python3 ci-pod-provisioner.py
      - name: process mode - Deploy JuiceFS CSI for process mode
        run: |
          cd ${GITHUB_WORKSPACE}
          dev_tag=dev-$(git describe --always)
          echo "Dev tag is: " $dev_tag
          export dev_tag=$dev_tag
          .github/scripts/deploy-csi-in-k8s.sh process
      - name: process mode - Run ce test
        env:
          JUICEFS_STORAGE: "s3"
          JUICEFS_BUCKET: "http://juicefs-bucket.minio.default.svc.cluster.local:9000"
          JUICEFS_ACCESS_KEY: "minioadmin"
          JUICEFS_SECRET_KEY: "minioadmin"
          JUICEFS_NAME: "ce-secret"
          JUICEFS_META_URL: "redis://redis.default.svc.cluster.local:6379/1"
          JUICEFS_MODE: "ce"
          MOUNT_MODE: "process"
        run: |
          cd ${GITHUB_WORKSPACE}/.github/scripts/
          python3 ci-process.py
      - name: process mode - Run ee test
        env:
          JUICEFS_TOKEN: ${{ secrets.JUICEFS_CI_VOLUME_TOKEN }}
          JUICEFS_STORAGE: "s3"
          JUICEFS_BUCKET: "http://juicefs-bucket.minio.default.svc.cluster.local:9000"
          JUICEFS_ACCESS_KEY: "minioadmin"
          JUICEFS_SECRET_KEY: "minioadmin"
          JUICEFS_NAME: "csi-ci"
          JUICEFS_META_URL: ""
          JUICEFS_MODE: "ee"
          MOUNT_MODE: "process"
        run: |
          cd ${GITHUB_WORKSPACE}/.github/scripts/
          python3 ci-process.py
