name: latest

on:
  push:
  schedule:
    - cron: "0 0 * * *"

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.14.x
        uses: actions/setup-go@v2
        with:
          go-version: "1.14.x"
      - name: Check out code into the Go module directory
        uses: actions/checkout@v2
      - name: Build
        run: make
      - name: Verify
        run: make verify
      - name: Test
        run: make test
      - name: Test sanity
        run: make test-sanity

  publish-latest:
    needs: test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Check if the latest image is required
      run: |
        image_required=$(${GITHUB_WORKSPACE}/.github/scripts/check-latest-image-required.sh)
        echo "IMAGE_REQUIRED=$image_required" >> $GITHUB_ENV
      shell: bash
    - name: Build docker stable image
      if: ${{ env.IMAGE_REQUIRED == 'yes' }}
      run: make image-latest
    - name: Login Docker Hub
      if: ${{ env.IMAGE_REQUIRED == 'yes' }}
      run: docker login --username juicefs --password ${PASSWORD}
      env:
        PASSWORD: ${{ secrets.DOCKERHUB_ACCESS_TOKEN }}
    - name: Push docker stable image
      if: ${{ env.IMAGE_REQUIRED == 'yes' }}
      run: make push-latest
