name: nightly

on:
  push:
    branches:
      - master
      - add_ci_test
  schedule:
    - cron: "0 0 * * *"

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.17.2
        uses: actions/setup-go@v2
        with:
          go-version: "1.17.2"
      - name: Check out code into the Go module directory
        uses: actions/checkout@v2
      - name: Build
        run: make
      - name: Verify
        run: make verify
      - name: Test
        run: make test
      - name: Test sanity
        run: make test-sanity

  publish-nightly:
    needs: test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Build docker image nightly
      run: |
        make image-nightly
    - name: Prepare microk8s environment
      run: |
        ${GITHUB_WORKSPACE}/.github/scripts/k8s-deps.sh
        docker image save -o juicefs-csi-driver-nightly.tar juicedata/juicefs-csi-driver:nightly
        sudo microk8s.ctr image import juicefs-csi-driver-nightly.tar
        rm -f juicefs-csi-driver-nightly.tar
    - name: Deploy JuiceFS CSI for pod mode
      run: |
        export dev_tag=nightly
        ${GITHUB_WORKSPACE}/.github/scripts/deploy-csi-in-k8s.sh pod
    - name: Set ce secret env
      run: |
        echo "JUICEFS_STORAGE=s3" >> $GITHUB_ENV
        echo "JUICEFS_BUCKET=http://juicefs-bucket.minio.default.svc.cluster.local:9000" >> $GITHUB_ENV
        echo "JUICEFS_ACCESS_KEY=minioadmin" >> $GITHUB_ENV
        echo "JUICEFS_SECRET_KEY=minioadmin" >> $GITHUB_ENV
        echo "JUICEFS_NAME=ce-secret" >> $GITHUB_ENV
        echo "JUICEFS_META_URL=redis://redis.default.svc.cluster.local:6379/1" >> $GITHUB_ENV
        echo "JUICEFS_MODE=ce" >> $GITHUB_ENV
        echo "MOUNT_MODE=pod" >> $GITHUB_ENV
    - name: Run ce test for pod mode
      run: |
        cd ${GITHUB_WORKSPACE}/.github/scripts/
        python3 ci-pod.py
    - name: Set ee secret env
      env:
        JUICEFS_TOKEN: ${{ secrets.JUICEFS_CI_VOLUME_TOKEN }}
      run: |
        echo "JUICEFS_STORAGE=s3" >> $GITHUB_ENV
        echo "JUICEFS_BUCKET=http://juicefs-bucket.minio.default.svc.cluster.local:9000" >> $GITHUB_ENV
        echo "JUICEFS_ACCESS_KEY=minioadmin" >> $GITHUB_ENV
        echo "JUICEFS_SECRET_KEY=minioadmin" >> $GITHUB_ENV
        echo "JUICEFS_NAME=csi-ci" >> $GITHUB_ENV
        echo "JUICEFS_TOKEN=$JUICEFS_TOKEN" >> $GITHUB_ENV
        echo "JUICEFS_META_URL=''" >> $GITHUB_ENV
        echo "JUICEFS_MODE=ee" >> $GITHUB_ENV
        echo "MOUNT_MODE=pod" >> $GITHUB_ENV
    - name: Run ee test for pod mode
      run: |
        cd ${GITHUB_WORKSPACE}/.github/scripts/
        python3 ci-pod.py
    - name: Deploy JuiceFS CSI for pod mode mount shared
      run: |
        export dev_tag=nightly
        ${GITHUB_WORKSPACE}/.github/scripts/deploy-csi-in-k8s.sh pod-mount-share
    - name: Set ce secret env for pod mode mount shared
      run: |
        echo "JUICEFS_STORAGE=s3" >> $GITHUB_ENV
        echo "JUICEFS_BUCKET=http://juicefs-bucket.minio.default.svc.cluster.local:9000" >> $GITHUB_ENV
        echo "JUICEFS_ACCESS_KEY=minioadmin" >> $GITHUB_ENV
        echo "JUICEFS_SECRET_KEY=minioadmin" >> $GITHUB_ENV
        echo "JUICEFS_NAME=ce-secret" >> $GITHUB_ENV
        echo "JUICEFS_META_URL=redis://redis.default.svc.cluster.local:6379/1" >> $GITHUB_ENV
        echo "JUICEFS_MODE=ce" >> $GITHUB_ENV
        echo "MOUNT_MODE=pod" >> $GITHUB_ENV
    - name: Run ce test for pod mode mount shared
      run: |
        cd ${GITHUB_WORKSPACE}/.github/scripts/
        python3 ci-pod-share-mount.py
    - name: Set ee secret env for pod mode mount shared
      env:
        JUICEFS_TOKEN: ${{ secrets.JUICEFS_CI_VOLUME_TOKEN }}
      run: |
        echo "JUICEFS_STORAGE=s3" >> $GITHUB_ENV
        echo "JUICEFS_BUCKET=http://juicefs-bucket.minio.default.svc.cluster.local:9000" >> $GITHUB_ENV
        echo "JUICEFS_ACCESS_KEY=minioadmin" >> $GITHUB_ENV
        echo "JUICEFS_SECRET_KEY=minioadmin" >> $GITHUB_ENV
        echo "JUICEFS_NAME=csi-ci" >> $GITHUB_ENV
        echo "JUICEFS_TOKEN=$JUICEFS_TOKEN" >> $GITHUB_ENV
        echo "JUICEFS_META_URL=''" >> $GITHUB_ENV
        echo "JUICEFS_MODE=ee" >> $GITHUB_ENV
        echo "MOUNT_MODE=pod" >> $GITHUB_ENV
    - name: Run ee test for pod mode mount shared
      run: |
        cd ${GITHUB_WORKSPACE}/.github/scripts/
        python3 ci-pod-share-mount.py
    - name: Deploy JuiceFS CSI for process mode
      run: |
        export dev_tag=nightly
        ${GITHUB_WORKSPACE}/.github/scripts/deploy-csi-in-k8s.sh process
    - name: Set ce secret env
      run: |
        echo "JUICEFS_STORAGE=s3" >> $GITHUB_ENV
        echo "JUICEFS_BUCKET=http://juicefs-bucket.minio.default.svc.cluster.local:9000" >> $GITHUB_ENV
        echo "JUICEFS_ACCESS_KEY=minioadmin" >> $GITHUB_ENV
        echo "JUICEFS_SECRET_KEY=minioadmin" >> $GITHUB_ENV
        echo "JUICEFS_NAME=ce-secret" >> $GITHUB_ENV
        echo "JUICEFS_META_URL=redis://redis.default.svc.cluster.local:6379/1" >> $GITHUB_ENV
        echo "JUICEFS_MODE=ce" >> $GITHUB_ENV
        echo "MOUNT_MODE=process" >> $GITHUB_ENV
    - name: Run ce test for process mode
      run: |
        cd ${GITHUB_WORKSPACE}/.github/scripts/
        python3 ci-process.py
    - name: Set ee secret env
      env:
        JUICEFS_TOKEN: ${{ secrets.JUICEFS_CI_VOLUME_TOKEN }}
      run: |
        echo "JUICEFS_STORAGE=s3" >> $GITHUB_ENV
        echo "JUICEFS_BUCKET=http://juicefs-bucket.minio.default.svc.cluster.local:9000" >> $GITHUB_ENV
        echo "JUICEFS_ACCESS_KEY=minioadmin" >> $GITHUB_ENV
        echo "JUICEFS_SECRET_KEY=minioadmin" >> $GITHUB_ENV
        echo "JUICEFS_NAME=csi-ci" >> $GITHUB_ENV
        echo "JUICEFS_TOKEN=$JUICEFS_TOKEN" >> $GITHUB_ENV
        echo "JUICEFS_META_URL=''" >> $GITHUB_ENV
        echo "JUICEFS_MODE=ee" >> $GITHUB_ENV
        echo "MOUNT_MODE=process" >> $GITHUB_ENV
    - name: Run ee test for process mode
      run: |
        cd ${GITHUB_WORKSPACE}/.github/scripts/
        python3 ci-process.py
    - name: Login Docker Hub
      run: docker login --username juicefs --password ${PASSWORD}
      env:
        PASSWORD: ${{ secrets.DOCKERHUB_ACCESS_TOKEN }}
    - name: Buildx and Push docker image nightly
      run: |
        export DOCKER_CLI_EXPERIMENTAL=enabled
        docker run --rm --privileged docker/binfmt:66f9012c56a8316f9244ffd7622d7c21c1f6f28d
        docker buildx create --use --name mybuilder
        make image-nightly-buildx
