name: nightly

on:
  push:
    branches:
      - master
  schedule:
    - cron: "0 0 * * *"

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.14.x
        uses: actions/setup-go@v2
        with:
          go-version: "1.14.x"
      - name: Check out code into the Go module directory
        uses: actions/checkout@v2
      - name: Build
        run: make
      - name: Verify
        run: make verify
      - name: Test
        run: make test
      - name: Test sanity
        run: make test-sanity

  publish-nightly:
    needs: test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Build docker image nightly
      run: |
        make image-nightly
    - name: Prepare microk8s environment
      run: |
        ${GITHUB_WORKSPACE}/.github/scripts/k8s-deps.sh
        docker image save -o juicefs-csi-driver-nightly.tar juicedata/juicefs-csi-driver:nightly
        sudo microk8s.ctr image import juicefs-csi-driver-nightly.tar
        rm -f juicefs-csi-driver-nightly.tar
    - name: Deploy JuiceFS CSI
      run: |
        sed -i -e "s@juicedata/juicefs-csi-driver.*\$@juicedata/juicefs-csi-driver:nightly@g" \
               -e 's@/var/lib/kubelet@/var/snap/microk8s/common/var/lib/kubelet@g' ${GITHUB_WORKSPACE}/deploy/k8s.yaml
        ${GITHUB_WORKSPACE}/.github/scripts/deploy-csi-in-k8s.sh
    - name: Set ce secret env
      run: |
        echo "JUICEFS_STORAGE=s3" >> $GITHUB_ENV
        echo "JUICEFS_BUCKET=http://juicefs-bucket.minio.default.svc.cluster.local:9000" >> $GITHUB_ENV
        echo "JUICEFS_ACCESS_KEY=minioadmin" >> $GITHUB_ENV
        echo "JUICEFS_SECRET_KEY=minioadmin" >> $GITHUB_ENV
        echo "JUICEFS_NAME=ce-secret" >> $GITHUB_ENV
        echo "JUICEFS_META_URL=redis://redis.default.svc.cluster.local:6379/1" >> $GITHUB_ENV
        echo "IS_CE=True" >> $GITHUB_ENV
    - name: Run ce test
      run: |
        cd ${GITHUB_WORKSPACE}/.github/scripts/
        python3 k8s-ci.py
    - name: Set ee secret env
      env:
        JUICEFS_TOKEN: ${{ secrets.JUICEFS_CI_VOLUME_TOKEN }}
      run: |
        echo "JUICEFS_STORAGE=s3" >> $GITHUB_ENV
        echo "JUICEFS_BUCKET=http://juicefs-bucket.minio.default.svc.cluster.local:9000" >> $GITHUB_ENV
        echo "JUICEFS_ACCESS_KEY=minioadmin" >> $GITHUB_ENV
        echo "JUICEFS_SECRET_KEY=minioadmin" >> $GITHUB_ENV
        echo "JUICEFS_TOKEN=$JUICEFS_TOKEN" >> $GITHUB_ENV
        echo "JUICEFS_META_URL=''" >> $GITHUB_ENV
        echo "IS_CE=False" >> $GITHUB_ENV
    - name: Run ee test
      run: |
        cd ${GITHUB_WORKSPACE}/.github/scripts/
        python3 k8s-ci.py
    - name: Login Docker Hub
      run: docker login --username juicefs --password ${PASSWORD}
      env:
        PASSWORD: ${{ secrets.DOCKERHUB_ACCESS_TOKEN }}
    - name: Push docker image nightly
      run: make push-nightly
