name: release

on:
  push:
    branches:
      - master
      - csi-v0

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.13
        uses: actions/setup-go@v1
        with:
          go-version: 1.13
      - name: Check out code into the Go module directory
        uses: actions/checkout@v1
      - name: Build
        run: make
      - name: Verify
        run: make verify
      - name: Test
        run: make test

  publish:
    needs: test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Build docker image
      run: make image
    - name: Login Docker Hub
      run: docker login --username juicefs --password ${PASSWORD}
      env:
        PASSWORD: ${{ secrets.DOCKERHUB_ACCESS_TOKEN }}
    - name: Push docker image
      run: make push
