name: version

on:
  release:
    types:
      - created

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.18.x
        uses: actions/setup-go@v2
        with:
          go-version: '1.18.x'
      - name: Check out code into the Go module directory
        uses: actions/checkout@v2
      - name: Build
        run: make
      - name: Verify
        run: make verify
      - name: Test
        run: make test
      - name: Test sanity
        run: make test-sanity

  publish-version:
    needs: test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Login Docker Hub
      run: docker login --username chnliyong --password ${PASSWORD}
      env:
        PASSWORD: ${{ secrets.DOCKERHUB_FUSE_ACCESS_TOKEN }}
    - name: Confirm juicefs version
      run: |
        JUICEFS_CE_LATEST_VERSION=$(curl -fsSL https://api.github.com/repos/juicedata/juicefs/releases/latest | grep tag_name | grep -oE 'v[0-9]+\.[0-9][0-9]*(\.[0-9]+(-[0-9a-z]+)?)?')
        echo "JUICEFS_CE_LATEST_VERSION=$JUICEFS_CE_LATEST_VERSION" >> $GITHUB_ENV
        JUICEFS_EE_LATEST_VERSION=$(curl -sSL https://juicefs.com/static/juicefs -o juicefs-ee && chmod +x juicefs-ee && ./juicefs-ee version | cut -d' ' -f3)
        echo "JUICEFS_EE_LATEST_VERSION=$JUICEFS_EE_LATEST_VERSION" >> $GITHUB_ENV
    - name: Build docker image & push
      env:
        CEVERSION: ce-v1.1.0-beta2
        CEJUICEFS_VERSION: v1.1.0-beta2
        EEVERSION: ee-${{ env.JUICEFS_EE_LATEST_VERSION }}
      run: |
        export DOCKER_CLI_EXPERIMENTAL=enabled
        docker run --rm --privileged docker/binfmt:66f9012c56a8316f9244ffd7622d7c21c1f6f28d
        docker buildx create --use --name mybuilder
        make image-version
